<?xml version="1.0"?>
<!--
/**
 * This file is part of Opengento_Categoryid for Magento.
 *
 * @license MIT
 * @author Adrien Louis-Rossignol
 * @category Opengento
 * @package Opengento_Categoryid
 * @copyright Copyright (c) 2017 Opengento (https://www.opengento.fr/)
 */
-->
<config>
    <modules>
        <Opengento_Categoryid>
            <version>0.1.0</version>
        </Opengento_Categoryid>
    </modules>
    <global>
        <models>
            <opengento_categoryid>
                <class>Opengento_Categoryid_Model</class>
                <resourceModel>opengento_categoryid_resource</resourceModel>
            </opengento_categoryid>
            <opengento_categoryid_resource>
                <class>Opengento_Categoryid_Model_Resource</class>
            </opengento_categoryid_resource>
        </models>
        <blocks>
            <opengento_categoryid>
                <class>Opengento_Categoryid_Block</class>
            </opengento_categoryid>
            <adminhtml>
                <rewrite>
                    <catalog_category_tree>Opengento_Categoryid_Block_Adminhtml_Catalog_Category_Tree</catalog_category_tree>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <opengento_categoryid>
                <class>Opengento_Categoryid_Helper</class>
            </opengento_categoryid>
        </helpers>
    </global>
    <default>
        <opengento_categoryid>
            <configuration>
                <enabled>1</enabled>
            </configuration>
        </opengento_categoryid>
    </default>
</config>
